<script src="{{ 'inx-account-data.js' | asset_url }}" defer="defer"></script>

{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}

{%- if customer -%}
<section class="page-width">
  <div class="container-fluid">
      <div class=row>
         <div class="col-12 d-flex">
            <i class="fa-solid fa-user fa-3x me-3"></i>
            <ul class="m-0 no-bullets line-condensed">
                <li>{{customer.name}}</li>
                <li>{{customer.email}}</li>
                {% comment %} <li>{{customer.current_company}}</li> {% endcomment %}
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="text-center acct-box">
            <a href="/pages/orders" alt="Order Lookup" class="box jsDashboardLink" data-action="orders" >
                <div>
                    <i class="fa-solid fa-search acct-icon jsAcctIcon"></i>
                    <span class="acct-title">Orders</span>
                </div>
                <span class="acct-desc"> View Open & Closed Orders</span>
            </a>
          </div>

          <div class="text-center acct-box">
              <a href="/pages/blanket-orders" alt="Blanket Order Lookup" class="box jsDashboardLink" data-action="blanket">
                  <div>
                      <i class="fa-solid fa-file-export acct-icon jsAcctIcon"></i>
                      <span class="acct-title">Blanket Orders</span>
                  </div>
                  <span class="acct-desc"> View Open & Closed Blanket Orders</span>
              </a>
          </div>

          <div class="text-center acct-box">
              <a href="/pages/quotes" alt="Quote Lookup" class="box jsDashboardLink" data-action="quotes">
                  <div>
                      <i class="fa-solid fa-file-signature acct-icon jsAcctIcon"></i>
                      <span class="acct-title">Quotes</span>
                  </div>
                  <span class="acct-desc"> View Open Quotes</span>
              </a>
          </div>         

         <div class="text-center acct-box">
            <a href="/pages/open-invoices" alt="View Open Invoices" class="box jsDashboardLink" data-action="openInvoices">
                <div>
                    <i class="fa-solid fa-file-invoice-dollar acct-icon jsAcctIcon"></i>
                    <span class="acct-title">Open Invoices</span>
                </div>
                <span class="acct-desc"> View & Print Unpaid Invoices</span>
            </a>
        </div>

         <div class="text-center acct-box">
            <a href="/pages/invoice-history" alt="View Invoice History" class="box jsDashboardLink" data-action="invoiceHistory">
                <div>
                    <i class="fa-solid fa-history acct-icon jsAcctIcon"></i>
                    <span class="acct-title">Invoice History</span>
                </div>
                <span class="acct-desc"> View Invoice & Payment History</span>
            </a>
        </div>   
    </div>
  </div>
</section>

{%- else -%} 
<section class="page-width">
    <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.</p>  
</section>
{%- endif -%} 

{% schema %}
  {
    "name": "account_dashboard",
    "settings": [      
      {
        "type": "paragraph",
        "content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL." 
      }
    ]
  }
{% endschema %}