<script src="{{ 'inx-account-dashboard.js' | asset_url }}" defer="defer"></script>

{% assign open_invoices_data = customer.metafields.inxsql_customer.inxsql_open_invoices.value %}

{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}

{%- if customer -%}
<section class="page-width" id="open-invoices-section" data-total="{{  open_invoices_data.dataset.size }}" data-type="openInvoices">
  <div class="container-fluid text-xs">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 col-xl-2 mb-5">
        <table id="totals-table" class="table-condensed text-xs w-100">
          <thead>
            <tr>
              <th colspan="2" class="acct-table-header">Totals</th>
            </tr>
          </thead>
          <tbody>
            {% if open_invoices_data.dataset and open_invoices_data.dataset.size > 0 %}
            <tr>
              <td>Future</td>
              <td class="text-right">${{ open_invoices_data.amtFutureTotal | round: 2 }}</td>
            </tr>
            <tr>
              <td>Current</td>
              <td class="text-right">${{ open_invoices_data.amtCurTotal | round: 2 }}</td>
            </tr>
            <tr>
              <td>30</td>
              <td class="text-right">${{ open_invoices_data.amt30Total | round: 2 }}</td>
            </tr>
            <tr>
              <td>60</td>
              <td class="text-right">${{ open_invoices_data.amt60Total | round: 2 }}</td>
            </tr>
            <tr>
              <td>90</td>
              <td class="text-right">${{ open_invoices_data.amt90Total | round: 2 }}</td>
            </tr>
            <tr>
              <td>120</td>
              <td class="text-right">${{ open_invoices_data.amt120Total | round: 2 }}</td>
            </tr>
            <tr>
              <td class="font-body-bold">Total</td>
              <td class="font-body-bold text-right">${{ open_invoices_data.amtTotal | round: 2 }}</td>
            </tr>
            {%- else -%}
            <tr>
              <td colspan="2">No data to display.</td>
            </tr>
          {%- endif -%}
          </tbody>
        </table>
      </div>

      <div class="col-12 col-md-9 col-xl-10 line-condensed">
        {% if open_invoices_data.dataset and open_invoices_data.dataset.size > 0 %}
        <div class="row d-none d-xl-flex acct-table acct-table-header text-xs">
          <div class="col-12 col-lg-3 col-xl">
            <span>Invoice #</span>
          </div>
          <div class="col-xl acct-date">
            <span>Date</span>
          </div>
          <div class="col-xl">
            <span>Future Due</span>
          </div>
          <div class="col-xl">
            <span>Current</span>
          </div>
          <div class="col-xl">
            <span>31-60</span>
          </div>
          <div class="col-xl">
            <span>61-90</span>
          </div>
          <div class="col-xl">
            <span>91-120</span>
          </div>
          <div class="col-xl">
            <span>120+</span>
          </div>
        </div>
        {% for invoice in open_invoices_data.dataset %}
        <div class="row acct-table line-condensed jsOrderRow">
          <div class="col-6 col-sm-4 col-xl">
            <a href="javascript:void(0);" class="acct-link acct-order-num"
              data-order-id="{{  invoice.copn_apply }}"><span class="acct-label">#</span>{{- invoice.copn_apply | strip -}}</a>
          </div>
          <div class="col-6 col-sm-8 col-xl acct-date">
            <span class="acct-label">Date:</span>{{ invoice.copn_date | date: '%m/%d/%Y' }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">Future Due:</span>${{ invoice.amtfuture | default: 0 | round: 2 }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">Current:</span>${{ invoice.amtcur | default: 0 | round: 2 }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">31-60:</span>${{ invoice.amt30 | default: 0 | round: 2 }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">61-90:</span>${{ invoice.amt60 | default: 0 | round: 2 }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">91-120:</span>${{ invoice.amt90 | default: 0 | round: 2 }}
          </div>
          <div class="col-6 col-sm-4 col-xl">
            <span class="acct-label">120+:</span>${{ invoice.amt120 | default: 0 | round: 2 }}
          </div>
          <div class="col-12">
            <hr class="list-divider" />
          </div>
        </div>
        {%- endfor -%}
       {%- else -%}
        <div class="row">
          <div class="col-12 text-center">
            <p>No data to display.</p>
          </div>
        </div>
        {%- endif -%}

        <div class="row">
          <div class="col-12">
            {% render 'inx-pagination' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- else -%}
<section class="page-width">
  <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.
  </p>
</section>
{%- endif -%}

{% schema %}
{
"name": "Open Invoices",
"settings": [
{
"type": "paragraph",
"content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL."
}
]
}
{% endschema %}