<script src="{{ 'inx-account-dashboard.js' | asset_url }}" defer="defer"></script>

{% assign quotes_data = customer.metafields.inxsql_customer.inxsql_quotes.value %}

{{ 'inx-styles-account.css' | asset_url | stylesheet_tag }}


{%- if customer -%}
<section class="page-width" id="orders-section" data-total="{{ quotes_data.solistingDS.size }}" data-type="orders">
  <div class="container-fluid text-xs">
    <div class="row my-5">
      <div class="col-12 col-sm-6">
        {%- render 'inx-account-order-search' -%}
      </div>
    </div>

    <div class="row d-none d-xl-flex acct-table acct-table-header">
      <div class="col-xl-2">
        <span>Order #</span>
      </div>
      <div class="col-xl-1 acct-type">
        <span>Type</span>
      </div>
      <div class="col-xl-2 acct-date">
        <span>Date</span>
      </div>
      <div class="col-xl-2 flex-xl-grow-1">
        <span>Status</span>
      </div>
      <div class="col-xl-1">
        <span>PO #</span>
      </div>
      <div class="col-xl-2">
        <span>Ordered By</span>
      </div>
      <div class="col-xl-2">
        <span>Amount</span>
      </div>
    </div>
  </div>

  <div class="container-fluid text-xs">
    {%- if quotes_data.solistingDS and quotes_data.solistingDS.size > 0 -%}
    {%- for order in quotes_data.solistingDS -%}
    {%- assign all_items = '' -%}
    {%- if order.lines -%}
    {%- assign item_array = order.lines | map: 'odtl_item' -%}
    {%- assign all_items = item_array | join: ',' -%}
    {%- endif -%}
    <div class="row acct-table jsAcctDataRow" data-order-id="{{ order.ohdr_order }}"
      data-items="{{ all_items | downcase }}">
      <div class="col-12 col-lg-3 col-xl-2">
        <a href="javascript:void(0);" class="acct-link acct-order-num jsOrderDetailsLink"
          data-order-id="{{  order.ohdr_order }}">{{- order.ohdr_order | strip -}}</a>
      </div>
      <div class="col-7 col-md-3 col-lg-2 col-xl-1 acct-type">
        <span class="acct-label">Type:</span>{{ order.type_desc | default: 'N/A' }}
      </div>
      <div class="col-5 col-md-4 col-lg-5 col-xl-2 acct-date">
        <span class="acct-label">Date:</span>{{ order.ohdr_date | date: '%m/%d/%Y' }}
      </div>
      <div class="col-7 col-md-5 col-lg-3 col-xl-2 flex-xl-grow-1">
        <span class="acct-label">Status:</span>{{ order.ocod_description | default: 'N/A' }}
      </div>
      <div class="col-5 col-md-3 col-lg-2 col-xl-1 word-break">
        <span class="acct-label">PO #</span>{{ order.ohdr_custpo | default: 'N/A' }}
      </div>
      <div class="col-7 col-md-4 col-lg-3 col-xl-2">
        <span class="acct-label">Ordered By:</span>{{ order.ohdr_orderby | default: 'N/A' }}
      </div>
      <div class="col-5 col-md-5 col-lg-3 col-xl-2">
        <span class="acct-label">Amount:</span>${{ order.ohdr_amount | default: '0.00' }}
      </div>
      <div class="col-12">
        <hr class="list-divider" />
      </div>
    </div>
    {%- endfor -%}
    {%- else -%}
    <div class="row">
      <div class="col-12 text-center">
        <p>No data to display.</p>
      </div>
    </div>
    {%- endif -%}

    <div class="row">
      <div class="col-12">
        {% render 'inx-pagination' %}
      </div>
    </div>
  </div>
</section>

{%- # Order Details Section -%}
{%- for order in quotes_data.solistingDS -%}
<section class="page-width jsOrderDetailsSection" id="order-details-{{ order.ohdr_order }}"
  data-order-id="{{ order.ohdr_order }}" style="display:none;">
  <div class="container-fluid">
    <div class="row nearer-page-title">
      <div class="col-12">        
        <button type="button" class="link acct-link acct-nav-link font-body-bold jsBackToOrders"><i
      class="fa-solid fa-chevron-left icon-l"></i>Back to Quotes</button>
      </div>
    </div>
    <div class="box">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-0">Order {{ order.ohdr_order }}</h2>
        </div>
        <div class="col-12 col-md-6">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Date</td>
              <td>{{ order.ohdr_date | date: '%m/%d/%Y' }}</td>
            </tr>
            <tr>
              <td class="acct-label">PO #</td>
              <td>{{ order.ohdr_custpo }}</td>
            </tr>
            <tr>
              <td class="acct-label">Ordered By</td>
              <td>{{ order.ohdr_orderby }}</td>
            </tr>
            <tr>
              <td class="acct-label">Status</td>
              <td>{{ order.ocod_description | default: order.ohdr_status | default: 'Open' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Freight</td>
              <td>{{ order.ohdr_freightdescription | default: 'N/A' }}</td>
            </tr>
          </table>
        </div>

        <div class="col-12 col-md-6">
          <ul class="no-bullets">
            {%-comment%}<li>Invoice/packing/tracking placeholder</li>{%endcomment%}
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <ul class="no-bullets line-condensed">
            <li class="acct-label">Bill To</li>
            <li>{{ order.ccst_name }}</li>
            <li>{{ order.ccst_address1 }}</li>
            <li>{{ order.ccst_address2 }}</li>
            <li>{{ order.ccst_city -}}, {{- order.ccst_state -}} {{- order.ccst_zip }}</li>
            <li>{{ order.ccst_country }}</li>
          </ul>
        </div>

        <div class="col-12 col-md-6">
          <ul class="no-bullets line-condensed">
            <li class="acct-label">Ship To</li>
            <li>{{ order.ccod_shipto }}</li>
            <li>{{ order.ccod_address1 }}</li>
            <li>{{ order.ccod_address2 }}</li>
            <li>{{ order.ccod_city -}}, {{- order.ccod_state -}} {{- order.ccod_zip }}</li>
            <li>{{ order.ccod_country }}</li>
          </ul>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Ship Via</td>
              <td>{{ order.ohdr_shipviadesc }}</td>
            </tr>
            <tr>
              <td class="acct-label">Requested Ship Date</td>
              <td>{{ order.ohdr_reqdate | date: '%m/%d/%Y' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Order Comments</td>
              <td>{{ order.ohdr_comments }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table-condensed table-row1-label">
            <tr>
              <td class="acct-label">Subtotal</td>
              <td>${{ order.subtotal | default: '0.00' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Tax</td>
              <td>${{ order.ohdr_taxamt | default: '0.00' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Shipping & Handling</td>
              <td>${{ order.shippingandhandling | default: '0.00' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Misc Fee</td>
              <td>${{ order.ohdr_miscamt | default: '0.00' }}</td>
            </tr>
            <tr>
              <td class="acct-label">Total</td>
              <td class="font-body-bold">${{ order.ohdr_amount | default: '0.00' }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <p class="heading text-lg font-body-bold">Items</p>
      </div>
    </div>

    {%- for line in order.lines -%}
      <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-xxl-9">
          <ul class="no-bullets line-condensed my-0">
            <li class="font-body-bold">{{ line.odtl_description }}</li>
            <li><span class="text-xs text-gray pe-2">Item #</span>{{ line.odtl_item }}</li>
            <li><span class="text-xs text-gray pe-2">Requested Ship Date:</span>{{ line.odtl_reqdate }}</li>
            <li><span class="text-xs text-gray pe-2">Comments:</span>{{ line.odtl_comments }}</li>
            <li><span class="text-xs text-gray pe-2">Handle:</span>{{ line.odtl_handle }}</li>
          </ul>
        </div>

        <div class="col-12 col-sm-4 col-md-4 col-xxl-3 mt-2 mt-sm-0">
          {%- assign product = all_products[line.odtl_item_handle] -%}
            {%- if product -%}
              {%- render 'buy-buttons', product: product -%}
            {%- else -%}
              <span>Product not found in store.</span>    
          {%- endif -%}
        </div>

        <div class="col-12">
          <hr class="list-divider" />
        </div>
      </div>
    {%- endfor -%}

    <div class="row">
      <div class="col-12">
        <button type="button" class="link acct-link acct-nav-link font-body-bold jsBackToOrders"><i
            class="fa-solid fa-chevron-left icon-l"></i>Back to Quotes</button>
      </div>
    </div>
  </div>
</section>
{%- endfor -%}

{%- else -%}
<section class="page-width">
  <p class="text-md">Please <a href="{{ routes.account_login_url }}" class="link" rel="nofollow">log in</a> to continue.
  </p>
</section>
{%- endif -%}

{% schema %}
{
"name": "Quotes",
"settings": [
{
        "type": "paragraph",
        "content": "Account dashboard style settings can be found in Theme Settings. Scroll down to Account Dashboard - INxSQL." 
      }
]
}
{% endschema %}